@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.playwrite-cu-span {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
}

/* Shared */
.container {
    max-width: 80%;
    margin: 5rem auto;
}

.display-flex {
    display: flex;
}

.logo-header {
    color: rgb(230, 83, 60);
    font-weight: 800px;
    font-size: 2.2rem;
    line-height: 120%;
}

.logo-footer {
    color: rgb(230, 83, 60);
    font-weight: 900px;
    font-size: 3.2rem;
    line-height: 120%;
}

.btn-primary {
    padding: 16px 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4rem;
    border: none;
    border-radius: 2.7rem;
    background-color: rgb(230, 83, 60);
}

.btn-download {
    padding: 16px 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.4rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.7rem;
    background-color: black;
    margin-left: .7rem;
}

.btn-secondary {
    padding: 8px 20px;
    border-radius: 2.9rem;
    background-color: rgb(230, 83, 60);
}

.title-primary {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.title-secondary {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}

.pera {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.3px;
}

body{
    /* background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
    background-color: rgb(0, 0, 0);
}

/* navbar */


.navbar{
    justify-content: space-between;
}

.nav-menu ul li {
    list-style: none;
    margin-right: 3rem;
}

.nav-menu ul li:last-child {
    margin-right: 1rem;
}

.nav-menu ul {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: 2px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    display: none;
}


.banner {
    margin-top: 2rem;
    margin-bottom: 10rem;
    gap: 10rem;
}

.banner-content {
    max-width: 37rem;
    padding-top: 3rem;
    margin-top: 2rem;
}

.banner-content-btn {
    margin-top: 2rem;
}

.banner-content h3 {
    color: white;
    font-size: 5rem;
    font-weight: 900px;
    line-height: 120%;
    letter-spacing: 0%;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
}

.btn-mobile {
    display: none;
}

.circle {
    width: 2rem;
    height: 2rem;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: -3.8rem;
    margin-left: -4rem;
    position: absolute;
}

.video-tutorial {
    width: 40%;
    text-align: center;
    padding: 1rem 0rem 1rem 3rem;
    margin-top: -10rem;
    margin-left: -6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
}

.video-tutorial h5 {
    color: rgb(250, 250, 249);
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.6rem;
    letter-spacing: 0.3px;
}

.video-tutorial p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.workout-videos {
    width: 45%;
    text-align: center;
    padding: 1rem;
    margin-top: -24rem;
    margin-left: 15rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
}

.workout-videos h5 {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 2.8rem;
}

.workout-videos p {
    color: rgba(255, 255, 255, 0.65);
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3rem;
}

/* change your habits */
.change-habits {
    margin: 5rem auto;
}

.change-habits-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.5rem;
}

.habit-image {
    border-radius: 50%;
}

.image-container {
    justify-content: center;
    gap: 5rem;
}

.image-container-content {
    margin-top: 1.5rem;
    width: 90%;
    text-align: center;
}

.image-container h5 {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: .5rem;
}

.image-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.3px;
}

/* run an extra mile */
.run-extra {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    gap: 10rem;
    margin-bottom: 3rem;
}

.run-extra-content {
    width: 90%;
    margin: 2.8rem 3rem;
}

.run-extra-image img {
    width: 90%;
    display: block;
    margin-top: 3rem;
    border-radius: 1rem;
}

.run-extra-content h3 {
    margin-bottom: 1rem;
}

.run-extra-content p {
    margin-bottom: 1rem;
}

/* training */
.training-title{
    margin-bottom: 2rem;
    max-width: 70%;
}

.training-title .title-primary {
    margin-bottom: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
}

.item {
    position: relative;
    overflow: hidden;
    height: 15rem;
}



.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1 {
    grid-column: span 3;
}


.item-1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}

.item-2 {
    grid-column: span 6;
}

.item-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}

.item-3 {
    grid-column: span 3;
}

.item-3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-4 {
    grid-column: span 5;
}

.item-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-5 {
    grid-column: span 3;
}

.item-5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}

.item-6 {
    grid-column: span 4;
}

.item-6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.3);
}


/* bmi calculator */
.bmi-calculator {
    color: white;
    margin-bottom: 40rem;
    margin-top: 2rem;
}

.bmi-calculator-title {
    max-width: 65%;
    margin: 0 auto 3rem auto;

}

.bmi-calculator-content {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgb(34, 34, 34);
    padding: 5rem 0;
}

.bmi-calculator-chart {
    padding-left: 9rem;
    width: 50%;
    margin-right: 8rem;
}

.bmi-calculator-chart h5 {
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .7rem;
}

th {
    font-weight: 500;
}

td {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}

table {
    width: 90%;
    border-collapse: collapse;
}

.calculate-your-bmi {
    padding-right: 9rem;
}

.calculate-your-bmi h5 {
    margin-bottom: 1rem;
}

.calculate-your-bmi p {
    margin-bottom: 1.5rem;
}

.calculate-your-bmi input, select {
    width: calc(50% - 1rem);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

select:nth-of-type(2) {
    width: calc(100% - 1.5rem);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.calculate-your-bmi button {
    margin-top: 1.5rem;
    padding: 16px 60px;
}

/* meet our team */
.team-image-gallery {
    margin-bottom: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 2rem;
}

.meet-our-team-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    color: white;
}

.team-image {
    position: relative;
}

.team-image img {
    max-width: 20rem;
    height: 17rem;
    display: block;
    border-radius: 1rem;
    text-align: center;
    color: white;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.team-image h5 {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    color: white;
    font-size: 1.2rem;
}

.team-image p {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    color: rgb(160, 141, 141);
    font-size: 1rem;
}


/* footer */
.footer {
    justify-content: space-between;
    gap: 1rem;
}

footer p {
    margin-top: 2rem;
}

.footer-left {
    max-width: 45%;
}

.footer-middle {
    max-width: 20%;
}

.footer-right {
    max-width: 30%;
}

.footer-middle ul, .footer-right ul {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.footer-middle li, .footer-right li {
    margin-bottom: 1rem;
}

.footer-middle a, .footer-right a {
    margin-bottom: 1rem;
    margin-left: -2.5rem;
    text-decoration: none;
    color: grey;
}

footer hr {
    border: 1px solid gray;
}

.all-rights {
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: gray;
}










/* responsive */    
@media screen and (max-width: 576px) {
    .nav-menu {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    .nav-bar i {
        color: white;
        font-size: 2rem;
    }

    .banner {
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 28rem;
    }

    .banner-content {
        max-width: 30rem;
        padding-top: 2rem;
    }

    .btn-download {
        padding: 16px 10px;
        margin-left: .5rem;
    }

    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: inline;
    }

    .banner-content .btn-primary {
        padding: 16px 25px;
    }

    .banner-content h3 {
        color: white;
        font-size: 3rem;
        font-weight: 900px;
        line-height: 100%;
    }
    .video-tutorial {
        width: 30%;
        padding: 1rem 1rem 1rem 2rem;
        margin-top: -20rem;
        margin-left: 0rem;
    }

    .workout-videos {
        width: 45%;
        padding: 1rem;
        margin-top: -19rem;
        margin-left: 12rem;
    }

    .circle {
        margin-top: -3.8rem;
        margin-left: .8rem;
    }

    .image-container {
        flex-direction: column;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-left: 6rem;
    }

    .image-container-content{
        margin-left: -2rem;
        /* border: 2px solid red; */
    }


    /* change your habits */

    .change-habits-content {
        width: 100%;
    }

    .change-habits-content h3 {
        font-size: 2rem;
    }

    /* training-and-exercises */
    .training-and-exercises {
        display: none;
    }


    /* run extra mile */
    .run-extra {
        flex-direction: column;
        gap: 0rem;
    }

    .run-extra-content {
        margin: 0 auto;
        padding-top: 1.5rem;
    }

    .run-extra-content h3 {
        font-size: 2rem;
    }

    .run-extra-content .btn-primary {
        padding: 16px 30px;
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.4rem;
        border: none;
        border-radius: 2.7rem;
        background-color: rgb(230, 83, 60);
        width: 100%;
    }

    .run-extra-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    /* bmi calculator */

    .bmi-calculator-title {
        max-width: 100%;
        margin: 0 0 2rem 0;
    }

    .bmi-calculator-title h3 {
        font-size: 2rem;
    }

    .bmi-calculator-content {
        flex-direction: column;
    }

    .bmi-calculator-chart {
        padding-left: 2rem;
        width: 80%;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .bmi-calculator-chart h5 {
        font-size: 1.5rem;
    }

    .calculate-your-bmi {
        padding-left: 2rem;
    }

    .calculate-your-bmi h5 {
        font-size: 1.5rem;
    }


    /* meet our team */
    .meet-our-team {
        margin-top: 60rem;
    }

    .meet-our-team-content {
        width: 90%;
    }

    .meet-our-team-content h3 {
        font-size: 2rem;
    }

    .team-image-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .team-image-container div:nth-child(2) { order: 1; }
    .team-image-container div:nth-child(3) { order: 3; }
    .team-image-container div:nth-child(5) { order: 2; }
    .team-image-container div:nth-child(6) { order: 4; }

    .team-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-image-gallery .hide-image {
        display: none;
    }

    .image-1, .image-2, .image-3, .image-4, .image-5, .image-6 {
        width: 100%;
        height: 300px;
    }

    /* .image-container img {
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
    } */

    .footer {
        flex-direction: column;
    }

    .footer-left {
        max-width: 100%;
    }

    .footer-middle {
        max-width: 100%;
    }
    
    .footer-right {
        max-width: 100%;
    }

}